[Unit]
Description=FundTrader FastAPI Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/fundtrader/backend
Environment=API_HOST=0.0.0.0
Environment=API_PORT=8766
Environment=API_PREFIX=/fund/api
Environment=CACHE_DIR=/tmp/fundtrader_cache
Environment=TICKFLOW_API_KEY=tk_3adaccdabb854cde9d5346b334557fcd
Environment=TICKFLOW_API_LEVEL=free
Environment=IFIND_TOKEN=eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIn0.rPWxyF34gf57-NGWltyA6Gz0Dioequ9fMGQGU8zt5dvWfd-AfDi6j3Pi70GQtjs9RpdkVU351py0p4xF2ffp-ESd65DRMsLDvjvNz26H8b1JO1MiSmc_-ujHL5NCUt1Sqk3JQKWMOG55IVY-c5qnMAfGdwfnb9-d5GvZ6IIih8mDrNu-8GTAFRaFTnxL4hjh_fAioP8APJbYO5vSGu_znvruoCASfrcRsdsEb9AMU7V59WdH6nMNzUtnwP3nVUc8xCBV_kM90GEWDTMmV_6KJAhntzM6Clix0ERUA57J-bZ40ZO95QHHut85co6g9LWJeBG3R2HyxXSGlgEzet6nFA.VUjD-0jrnwZQ9wPR.ArZNfcQCBmWkkv-1In7_DQZqtB4fApn4L3ZZts8oBd1J7lEjgTZ54LuIxDw4fBcbnfm5vXiQwd2URmUpMcPRA9l6PPExt4zNGHzZf7FVpDVTe8m4W5BCRFXRI_tUlDx3C6q0bJPbxAdT89QOSDNhsdCy8tJpqd6gJiHo3lxaxEoJln-ojs4CtPsxl3idfiW2zpVTTBtaw59lmRtRGpei_i81bgZv0sdHtdKHffLxiqPCCdqZ2pbCStxKnoHdEyF-8p_Z-WdaUBfkmE69FpmHBjCF1k-gTsb7BCmAlUkD9LrbfIHaZCtBZ3jsVSvxb5Gy6hqBBz2D84Tmp_6uq9AmsG7jc-AuO1XzBSLE5AlfT3-t28YNtPXtuyBdyR2sfY3VPtNOPY_zJ-7Edw1-fIEVde5bkBS8oQ.ZKTD_YaIzPKVgsw2IUC3rQ
Environment=IFIND_USE_MCP=true
ExecStart=/usr/bin/python3 -m uvicorn app.main:app --host 0.0.0.0 --port 8766 --root-path /fund/api
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target